context exploration
  repeater:0.2,0.1 n
    keyboard arrow_up
  repeater:0.2,0.1 e
    keyboard arrow_right
  repeater:0.2,0.1 w
    keyboard arrow_left
  repeater:0.2,0.1 s
    keyboard arrow_down
  trigger aim
    keyboard a
  trigger fire
    keyboard f
  trigger reload
    keyboard r
  trigger wait
    keyboard w
context ui
  axis2d direction
    keyboard arrow_left arrow_right arrow_down arrow_up
  trigger screen0
    keyboard f1
  trigger screen1
    keyboard f2
  trigger screen2
    keyboard f3
  trigger screen3
    keyboard f4
  trigger screen4
    keyboard f5
